#no-mobile {
  position: absolute;
  z-index: 99;
  height: 100vh;
  width: 100vw;
  background-image: url("/img/test.jpg");
  background-repeat: no-repeat;
  background-size: 100vw 130vh;
  background-position-y: -100px;
  /* background-color: var(--yellow); */
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  top: 0;
  font-size: 40px;
  color: white;
}

.fa-sad-tear {
  margin-left: 8px;
}
.fa-angle-double-right {
  margin-right: 4px;
}
.fa-angle-double-left {
  margin-right: 4px;
}

@media screen and (max-width: 700px) {
  #no-mobile {
    display: none;
  }
}
